<script>
    // Creates OpenID login url and injects it into HTML as a link.
    function steamLoginURL() {
        const realm = "{{ '/' | absolute_url }}"
        let redirect = "{{ '/user' | absolute_url }}"
        
        let loginUrl = "https://steamcommunity.com/openid/login?"
        loginUrl    += "openid.mode=checkid_setup"
        loginUrl    += "&openid.ns=http://specs.openid.net/auth/2.0"
        loginUrl    += "&openid.identity=http://specs.openid.net/auth/2.0/identifier_select"
        loginUrl    += "&openid.claimed_id=http://specs.openid.net/auth/2.0/identifier_select"
        loginUrl    += "&openid.return_to=" + redirect
        loginUrl    += "&openid.realm=" + realm

        document.getElementById('steam-login').href = loginUrl
    }
</script>

<div style="text-align: center;">
    <a id='steam-login' href="#" onclick="steamLoginURL()">
    <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_02.png" width="109" height="66" border="0">
    </a>
</div>
